{
	log {
		output file /var/log/caddy/access.log
		format json
	}
	
	# Global TLS configuration
	#tls {
	#	# Disable OCSP stapling to avoid warnings when OCSP server is not available
	#	ocsp_stapling off
	#}
}

ideal.rcermeno.link {	
	encode gzip

	handle /file-uploader/* {
		uri strip_prefix /file-uploader
		reverse_proxy fileuploader:3003
	}

	handle {
		reverse_proxy router:4000
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}

codeserver.rcermeno.link {
	encode gzip

	handle {
		reverse_proxy codeserver:8443
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}

adminer.rcermeno.link {
	encode gzip

	handle {
		reverse_proxy adminer:8080
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}

kafkaui.rcermeno.link {
	encode gzip

	handle {
		reverse_proxy kafka-ui:8080
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}

apidian.rcermeno.link {
	encode gzip

	handle {
		reverse_proxy api_dian:80
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}

ideal-app-dev.rcermeno.link {
	encode gzip

	handle {
		reverse_proxy ideal-app:3100
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}

ideal-apollo-mcp-server.rcermeno.link {
	encode gzip

	handle {
		reverse_proxy router:8000
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}

dian-db-mcp.rcermeno.link {
	encode gzip

	handle {
		reverse_proxy mariadb-mcp:9001
	}

	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}
